<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preference Chart</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/chart.css">
    <script type="text/javascript" src="/node_modules/d3/dist/d3.min.js"></script>
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/chart.js"></script>
</head>

<body>
<div class="header">
    <div class="title">{{model_type}} Model Estimation</div>
    <a href="#" id="change_model_type">Swtich to {{alt_model_type}} Model</a>
    &nbsp;&nbsp;&nbsp;<span>|</span>&nbsp;&nbsp;&nbsp;
    <a href="/play">Go Back to Playground</a>
</div>
<div class="svg-container">
</div>
<div id="data" style="display:none">{{data}}</div>
<div class="footer">
    <ul class="note">
        <div><strong style="font-size: 1.2em;">Note:</strong></div>
        <li>"Wear masks all the time" and "Wear masks when not alone" are compared with "No requirements for masks"</li>
        <li>"Refresh't unavailable" and "Refresh't available when you are alone" are compared with  "Refresh't available"</li>
        <li>"Neary restaurants are closed" and "Nearby restaurants are to-go only" are compared with "Nearby restaurants are open"</li>
        <li class="r2"></li>
    </ul>
</div>
</body>
</html>